.containerbig{
  border: 1px solid black;
  display: inline-flex;
}

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

p{
  font-size: 14px;
  line-height: 1.8em;
}

aside{
  width: 160px;
  border-right: 1px solid #A7D7F9;
  padding-left:26px;
  padding-right: 20px;
  background-color: #F6F6F6;
  font-size: 12px;
  line-height: 1.6em;
}

#logo{
  padding-bottom: 23px;
}

.sidebox{
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 12px;
  padding-top: 5px;
}

.linkleft{
  text-decoration: none;
  text-indent: 10px;
}

.top{
  text-indent: 5px;
}

main{
  border: 1px solid blue;
  width: 100%;
  display: inline-flex;
  flex-flow: column;
}

.contentsheader{
  text-align: center;
}

.contents li:first-child{
  line-height: normal;
}

.contents{
  height: 265px;
  width: 120px;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  font-size: 13px;
  padding: 6px;
  line-height: 2em;
}

.contents a{
  line-height: 10px;
}

.contents ol{
  counter-reset: item;
  padding-left: 5px;
}

.contents li{
  display: block;
}

.contents li:before {
  content: counters(item, ".") " "; counter-increment: item;
}

.image1{
  float: right;
  border: 1px solid #AAAAAA;
  width: 270px;
  height: 520px;
  margin-left: 26px;
  background-color: #F9F9F9;
}

.first{
  width: 220px;
  height: 277px;
  margin-left: 26px;
  margin-right: 26px;
}

.imageheader{
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.imagefooter{
  font-size: 12px;
  text-align: center;
  padding: 2px;
}

table{
  font-size: 13px;
  padding: 3px 4px 5px;
}

th{
  vertical-align: text-top;
  text-align: left;
}

.image2{
  float: right;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  width: 226px;
  height: 221px;
  margin-left: 26px;
}

.second{
  width: 220px;
  height: 170px;
  margin: 3px;
}

.nocenter{
  text-align: left;
  padding: 3px;
  line-height: 1.5em;
}

.image3{
  float: right;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  width: 226px;
  height: 346px;
  margin-left: 26px;
}

.third{
  width: 220px;
  height: 280px;
  margin: 2px;
  border: 1px solid #AAAAAA;
}

.image4{
  float: right;
  margin-left: 26px;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  width: 186px;
  height: 286px;
}

.fourth{
  border: 1px solid #AAAAAA;
  width: 180px;
  height: 238px;
  margin: 2px;
}

header{
  height: 80px;
  border-bottom: 1px solid #A7D7F9;
  background-color: #F6F6F6;
  font-size: 13px;
}

.headerupper{
  display: flex;
  justify-content: flex-end;
}

.headerlower{
  display: flex;
  justify-content: space-between;
}

.headerlowerleft{
  display: flex;
}

.headerlowerright{
  display: flex;
}

.box{
  height: 40px;
  display: flex;
  padding-right: 23px;
}

.infolog{
  color: grey;
}

.linkupper{
  padding: 5px 3px 8px;
  text-decoration: none;
}

.linklower{
    padding: 12px 3px 1px;
    text-decoration: none;
    display: inline;
}

.search{
  width: 297px;
  height: 24px;
  margin: 10px 3px 4px;
}

article{
  border: 1px solid green;
  padding-left: 26px;
  padding-right: 26px;
}

h1, h2{
  border-bottom: 1px solid #AAAAAA;
}

h1 {
  font-size: 36px;
}

footer{
  height: 150px;
  border: 1px solid orange;
}
