.flex-container{
/**  margin: 0 auto;**/
}

body{
  margin: 0;
  padding: 0;
}

.upper{
  background:black;
  width: inherit;
  margin: 0 auto;
  height: 100px;
}

h1{
  text-align: center;
  color: white;
  padding-top: 62px;
}

.middle{
  width:inherit;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.left{
  background:black;
  height: 500px;
  margin: 0;
  width: 350px;
}

.arrow{
  margin: 0;
  width: 30px;
}

.iconForMove{
  margin-top: 250px;
}

p{
  font-size: 36px;
  margin: 0px;
}

.toLeft{
  margin-left: 120px;
}

.toLeftSide{
  margin-left: 130px;
}

.central{
  background:black;
  height: 500px;
  margin: 0;
  width: 800px;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
}

.imageContainer{
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.inTheMiddle{
  width: 100%;
}

.right{
  background:black;
  height: 500px;
  margin: 0;
  width: 350px;
}

.lower{
  background:black;
  width: inherit;
  margin: 0 auto;
  height: 100px;
  position: relative;
}

.thumbnail{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.inThumbnail{
  width: 100px;
}

.leftToThumbnail{
  margin-bottom: 170px;
}
