h1 {
  text-indent: 5px;
}

.box{
  font-size: 18px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  width:300px
}


.second{
  border-top: 2px solid black;
}

.third{
  border-top: 2px solid black;
}

.fourth{
  border-top: 2px solid black;
}
