h1 {
  text-indent: 5px;
}

.box1 {
  font-size: 18px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  width:300px
}

.box2 {
  font-size: 18px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  width: 300px;
}

.box3 {
  font-size: 18px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  width: 300px;
}

.box4 {
  font-size: 18px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  width: 300px;
}
